:root{
  --primary:#FF6347;
}
article { display: block; }
body,html {background-color:#eee; overflow: hidden;}
.sec {width: 100%; height: 100vh; overflow: hidden;}
.inner { display: block; position: relative; width: 100%; max-width: 1600px; margin: 0 auto; }
#visual { display: block; position: relative;  overflow: hidden; transition: .3s;}
#visual.active { background-color: #000; }
#visual .visual_wrap {display: flex; flex-direction: column; gap: 2rem; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%;}
#visual .visual_list { display: flex; gap: 2rem; align-items: center; justify-content: center; }
#visual .visual_list p ,
#visual .visual_list p * { font-size:5.5rem ; font-weight: 500; line-height: 1; transition: .3s;}
#visual.active .visual_list p ,
#visual.active .visual_list p * { color: #555;}
#visual .visual_list li:nth-child(2) { display: flex; align-items: center;}
#visual .change-word_wrap { display: flex; position: relative;  flex-direction: column; transition: .3s; transition-timing-function: ease-in ; overflow: hidden; white-space: nowrap; align-items: center; height: 5rem; }
#visual .change-word { display: inline-flex; position: absolute; top: 50%; left: 50%;  width: fit-content; transform: translate(-50%,50%);  transition: .2s; transition-timing-function: ease-in; }
#visual .change-word span { display: inline-block; transition: .2s; font-family: "optique-display", sans-serif; font-style: italic;}
#visual .change-word span.active { animation: visual-text .2s ease-in forwards; }
#visual .visual-txt { font-size: 1.2rem;  color: #555;}

.glassy-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255 255 255 / 0.05); backdrop-filter: blur(32px); pointer-events: none; }

/* #content01 { overflow: hidden; } */
#content01 .dark { display: block; position: absolute; top: 0; left: 0;  width: 100%; height: 100%; background:linear-gradient(to right, rgba(0,0,0,0)0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100% );  transition: 1s; transition-timing-function: ease-in-out; z-index: 110;}
#content01 .dark.active { transform: translateX(100%); }
#content01 { position: relative; background: linear-gradient(to right, #000 15%, #fff 15%, #fff 40%, #eee 60%);}
#content01::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 40%; height: 125px;   background-color: #000; z-index: 10; }
#content01::after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 40%; height: 125px; background-color: #000; z-index: 10;}
#content01 .light:nth-child(1){display: block; position: absolute; top: 0px; left: -10%;; width: 50%; height: 250px; background: conic-gradient(#333 0%, #fff 20%, #fff 50%, #000 50%,#000 70%, #333 100%);; z-index: 20;}
#content01 .light:nth-child(2){display: block; position: absolute; bottom: 0px; left: -10%;; width: 50%; height: 250px; background: conic-gradient(#fff 30%, #333 50%, #000 70%);; z-index: 20;}

#content01 .inner{ padding-left: 10% ;  height: 100%; z-index: 100;}
#content01 .wrap { display: flex; justify-content: center; flex-direction: column; gap: 6rem; align-items: center; width: 100%; height: 100%;}

#content01 .title-box { display: flex; flex-direction: column; width: fit-content; gap:1.5rem;}
#content01 .title-box div { display: flex;  align-items: center; gap: 2rem;}
#content01 .title-box .bar {display: block; width: 5rem; height: 5px; background-color: #000; }
#content01 .title-box span { display: inline-block; position: relative; width: 5.417vw; height: 5.417vw; }
#content01 .title-box span::after { content:'';display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);}
#content01 .title-box span img { width: 100%; animation: spin 3s cubic-bezier(.22,1.12,1,1) alternate infinite;}
#content01 strong { font-size: 5.417vw; color: var(--primary); font-family: "optique-display", sans-serif; font-style: italic; line-height: 1; font-weight: 500;}
#content01 h1 {position: relative;  background: linear-gradient(to right, rgba(255,255,255,0.05) 0%, rgba(0,0,0,1) 20%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 5.417vw; font-weight: 400; width: fit-content; line-height: 1;}
#content01 p {position: relative;  background: linear-gradient(to right, rgba(255,255,255,0.01) 0%, rgba(0,0,0,.8) 5%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.2rem;width: fit-content;}

.darken-area { width: 100%; height: 100vh; background: linear-gradient(to bottom, #eee 0%, #000 100%); }

@keyframes visual-text {
  to { transform: translateY(-100%); }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}